<!DOCTYPE html>
<!-- thymeleaf used to inject Java in html -->
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body>
    <div th:include="fragments/header :: header">Header</div>
    <div id="page">
        <h1>De Anderlechtse Gazette</h1>
        <p style="width: 65%">
            Contactgegevens:
            De Anderlechtse Gazette
            Vluchtweg 85
            1070 Anderlecht
            Tel: 02/587 56 89
            email: info@AGazette.be
        </p>
        <p style="width: 65%">
            De klant is erg belangrijk, de klant wordt door de klant gevolgd. Wie wil vrij zijn? Maecenas feugiat vóór het leven van de pellentesque. Maar de doelstellingen zijn geweldig. Er was geen kussen om te drinken in de voertuigen. Fusce vitae ex maximus, sollicitudin nisli condimentum, CNN ex. In de altijd pulvinar elit, wie is de ullamcorper sem en Kinderen willen een carrière van een werknemer. De kinderen zijn erg nieuwsgierig. Ieder van hen was een ontwikkelaar van het leven. De prijs van de smartphone beperkt zich niet tot het doel zelf, maar tot het element medische zorg. Vestibulum laoreet, angst voor rhoncus mattis, risus lorem gravida eros, quis sadis massa risus en dui. En als de orks geboren werden, zouden de bergen veren en grote sporen voortbrengen, en zou er een belachelijke muis geboren worden. Elk element, vrij en beperkt tot saus, purus mi vulputate purus, in de massa van elit-eiwit. Er is nu geen basketbal of basketbal.
        </p>
        <span>&copy;Lorem Ipsum</span>
    </div>
    <div th:include="fragments/footer :: footer">Footer</div>
</body>
</html>