<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Article</title>
    <link rel="stylesheet" th:href="@{/css/addpage.css}">
</head>
<body>
    <form th:action="@{addsave}" th:object="${article}">
        <div>
            <div>
                <label for="title">Title</label>
                <input type="text" th:field="*{title}" id="title" placeholder="Major storm destroys city.">
            </div>
            <div>
                <label for="category">category</label>
                <input type="text" th:field="*{category}" id="category" value="Disaster" placeholder="Disaster">
            </div>
            <div>
                <label for="content">content</label>
                <textarea style="resize: none;" th:field="*{content}" id="content" placeholder="Major storm destroys city 'Rome' in Italy. So far there are 3 found dead and 23 injured."></textarea>
            </div>
            <div>
                <label for="email">email</label>
                <input type="email" id="email" th:field="*{email}" value="testemail@gmail.com" placeholder="testemail@gmail.com">
            </div>
            <div>
                <label for="author">author</label>
                <input type="text" id="author" th:field="*{author}" value="Me" placeholder="testUser123">
            </div>
            <input type="submit" value="Post">
            <div>
                <label for="date">date</label>
                <input type="date" id="date" th:field="*{dateCreated}">
            </div>
        </div>
    </form>
</body>
<script>
    document.getElementById("date").value = new Date().toLocaleString();
</script>
</html>