<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Article</title>
    <link rel="stylesheet" th:href="@{/css/New.css}">
</head>
<body>
    <div th:include="fragments/header :: header">Header</div>
    <div id="page">
        <form th:action="@{newsave}" th:object="${article}">
            <div>
                <div>
                    <label for="title">Title</label>
                    <input type="text" th:field="*{title}" id="title" placeholder="Major storm destroys city." required>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p>
                </div>
                <div>
                    <label for="category">category</label>
                    <input type="text" th:field="*{category}" id="category" value="Disaster" placeholder="Disaster" required>
                    <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error">Category Error</p>
                </div>
                <div>
                    <label for="content">content</label>
                    <textarea style="resize: none;" th:field="*{content}" maxlength="16777215" id="content" placeholder="Major storm destroys city 'Rome' in Italy. So far there are 3 found dead and 23 injured." required></textarea>
                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></p>
                </div>
                <div>
                    <label for="email">email</label>
                    <input type="email" id="email" th:field="*{email}" value="testemail@gmail.com" placeholder="testemail@gmail.com" required>
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
                </div>
                <div>
                    <label for="author">author</label>
                    <input type="text" id="author" th:field="*{author}" value="Me" placeholder="testUser123" required>
                </div>
                <input type="submit" value="Post">
                <div>
                    <label for="date">date</label>
                    <input type="date" id="date" th:field="*{dateCreated}" required>
                </div>
            </div>
        </form>
    </div>
    <div th:include="fragments/footer :: footer">Footer</div>
</body>
<script>
    document.getElementById("date").value = new Date().toLocaleString();
</script>
</html>